// Hint
// .s-eye
	+sprite($s-eye)

// Third Party

// @import "../../bower_components/normalize.css/normalize.css"

// Typography
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,latin)
@font-face
	font-family: "Ubuntu"
	src : url("../fonts/Ubuntu/ubuntu.ttf")


// Custom
// @import "../libs/normalize.css/normalize"
// @import "libs/magnific-popup"
// @import "libs/slick-theme"
@import "libs/pushy"
// @import "partials/_reset"
// @import "partials/_variables"
// @import "partials/_clearfix"
// @import "partials/_base"
// @import "partials/_mixins"
@import "partials/_sprite"
@import "../libs/bootstrap-4/css/bootstrap"
@import "libs/fontello"

$muted-color: #aeaeae
$primary-color: #524af8
$dark: #353854

img
	max-width: 100%
	height: auto
body
	font-family: Ubuntu, sans-serif
	font-size: 16px
	background: #fff

.fo
	font-family: 'fontello'

.wrapper
	overflow: hidden

.container
	max-width: 1170px


h1
	font-size: 55px
	margin-bottom: 45px
	text-align: center
h2
	font-size: 36px
	text-transform: uppercase
	text-align: center

h3
	font-size: 24px

h4
	font-size: 22px

h5
	font-size: 18px


// HEADER
header
	padding-top: 30px
	padding-bottom: 70px
	// background-attachment: fixed
	background-image: url(../img/header-1-bg-1.png)
	background-size: cover
	background-position: center 
	background-repeat: no-repeat
	color: #fff
	h5
		text-align: center
		line-height: 36px
	ul
		list-style: none
	a
		color: #fff
nav
	margin-bottom: 140px
.nav-link
	padding: 0
// .nav
// 	margin-left: auto
.menu-btn
	display: none
	position: relative
	padding: 10px
	// background: transparent
	// top: 50%
	// transform: translate(-50%, -50%)
	&:focus 
	margin: 7px 0
	// left: 50%
		outline-width: 0
	span
		// background: $primary-color
		background: #fff
		display: block
		transform: rotate(0deg)
		transition: .2s ease all
		border-radius: 2px
		height: 2px
		width: 25px
		margin-bottom: 4px
	.bar-bot 
		margin-bottom: 0

.opened 
	.bar-top 
		transform: rotate(45deg)
		transform-origin: 15% 15%
	.bar-mid 
		opacity: 0
	.bar-bot 
		transform: rotate(-45deg)
		transform-origin: 15% 95%

.pushy
	ul
		list-style: none

.main
	.wrap-btns
		max-width: 348px
		width: 100%
		margin-left: auto
		margin-right: auto
		display: flex
		justify-content: space-around
		.btn-primary
			background-color: #4466c9
			border-color: transparent
			padding: 1rem 1.5rem
	ul
		margin-top: 10px
		padding-left: 0
		max-width: 390px
		width: 100%
		margin-left: auto
		margin-right: auto
		li
			margin-bottom: 5px
			list-style-type: disc
	.wrap
		background-color: #fff
		padding: 30px 20px
		color: #000
		h6
			font-size: 16px
			color: #000
		.price-bonuse
			margin-top: 15px
			margin-bottom: 20px
			span
				display: block
				font-size: 12px
				margin-bottom: 10px
			.title
				margin-top: 15px
				color: #aeaeae
			.val
				display: block
				color: $primary-color
				margin-bottom: 15px
		.border-left, .border-top
			border-color: #007bff !important
		strong
			color: $primary-color
		&:nth-child(2)
			margin-top: 20px
			text-align: center
			font-size: 22px
			font-weight: normal
		small
			display: block
			font-size: 10px
			color: $muted-color
	.soc-icons
		margin-top: 50px
		a
			color: #ffffff
			text-decoration: none
			font-size: 2rem
			margin-left: 10px
			margin-right: 10px
a
	margin-left: 20px
	margin-right: 20px
	transition: .350s ease-in-out
	&:before
		font-family: "fontello"
		content: ""
		display: inline-block
		transform: scale(.9)
	// &[href*="facebook"]
	// 	&:before
	// 		content: '\e801'
	// &[href*="twitter"]
	// 	&:before
	// &[href*="reddit"]
	// 	&:before
	// &[href*="medium"]
	// 	&:before
	// &[href*="telegram"]
	// 	&:before
	// &[href*="github"]
	// 	&:before
	&:hover
		&:before
			transition: .350s ease-in-out
			transform: scale(1)
			color: #fff
			text-decoration: none
		// img
		// 	max-width: 100%	


.s-advantages
	padding-top: 145px
	padding-bottom: 145px
	.logo-title
		margin-bottom: 85px
		// background-image: url(../img/advantage-title.png)
	h4
		text-align: center
	ul
		margin-top: 65px
		list-style: none
		// padding-left: 0
		li
			position: relative
			display: flex
			align-items: center
			color: $muted-color
			margin-bottom: 35px
			&:before
				margin-right: 32px
				content: ""
				width: 65px
				height: 65px
				background-image: url(../img/SVG/001.svg)
				background-repeat: no-repeat
				background-size: 100%
				display: inline-block
			@for $i from 2 through 5
				&:nth-child(#{$i})
					&:before
						background-image: url("../img/SVG/00#{$i}.svg")
	.buyer
		li
			@for $i from 1 through 5
				&:nth-child(#{$i})
					&:before
						background-image: url("../img/SVG/0#{$i}.svg")
	strong
		color: $primary-color
		text-transform: uppercase
		// .#{$class-slug}-#{$i}
	


.s-video
	height: 100vh
	// background-attachment: fixed
	background-image: url(../img/video-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	display: flex
	justify-content: center
	align-items: center
	a
		display: block
		background: transparent
		padding: 42px 54px
		border-radius: 100%
		outline: none !important
		text-transform: uppercase
		transition: .350s ease-in-out
		&:hover
			background-color: rgba(255, 255, 255, 0.5)

.s-perspective
	padding-top: 145px
	background-attachment: fixed
	background-image: url(../img/perspective-bg.jpg)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	// min-height: 100vh
	min-height: 936px
	color: #fff
	h2
		color: #fff
		margin-bottom: 50px
	.item
		position: relative
		padding-top: 400px
		// border-image: url(../img/border-bottom.png)
		border-bottom: 1px
		padding-bottom: 30px
		background-image: url(../img/border-bottom.png)
		background-size: inherit
		background-position: center bottom
		background-repeat: no-repeat
		padding-left: 0
		// height: 540px
		// border-bottom: 2px solid rgba(255,255,255, .3)
		&:before
			position: absolute
			left: -27%
			bottom: 185px
		&:after
			position: absolute
			left: -4px
			bottom: -11px
			content: url(../img/shtrih.png)
		@for $i from 1 through 6
			&:nth-child(#{$i})
				&:before
					content: url(../img/#{$i}.png)
		&:last-child
			border: none
			background-image: none
			strong
				bottom: 500px
				font-weight: 700
				font-size: 14px
				left: 10%
			.price
				bottom: -35px
				left: 13%
			&:before
				bottom: -3px
				left: -9%
		&:nth-child(2)
			strong
				bottom: 340px
		&:nth-child(3)
			strong
				bottom: 380px
		&:nth-child(4)
			strong
				bottom: 430px
		&:nth-child(5)
			strong
				bottom: 515px
		&:nth-child(6)
	span
		display: block
		font-size: 14px
		line-height: 18px
		span
			display: block
	strong
		position: absolute
		left: 30%
		bottom: 270px
	.price
		position: absolute
		bottom: -35px


.s-token-sale
	padding-top: 200px
	padding-bottom: 130px
	.items
		text-align: center
		margin-bottom: 85px
		p
			max-width: 240px
			margin-left: auto
			margin-right: auto
			margin-bottom: 50px
			margin-top: 0
		h3
			margin-bottom: 30px
			color: $dark
	h2
		margin-bottom: 100px
		color: $primary-color
	span
		display: block
		color: $dark
		margin-bottom: 40px
	h3
		margin-bottom: 70px
	p
		margin-top: 80px
		color: $muted-color
	.wrap-button
		margin-top: 40px

.s-timeline
	color: #fff
	padding-top: 100px
	padding-bottom: 130px
	margin: 0 auto
	background-image: url(../img/timeline-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	// background: radial-gradient(circle at center, #6655e9 15%, #645bec 20%, #6361f2 25%, #636bfb 100%)

.timeline
	position: relative
	&::after
		content: ''
		position: absolute
		top: 0
		left: 50%
		margin-left: -3px
		background-color: white
		bottom: 0
		width: 1px
	.t-container
		padding: 0 40px 10px
		position: relative
		background-color: inherit
		width: 50%
		&::after
			content: ''
			position: absolute
			// top: 15px
			top: -10px
			width: 40px
			height: 40px
			right: -17px
			z-index: 1
			border-radius: 50%
			background-color: #6543f7
			background-repeat: no-repeat
			background-size: 100%
			background-image: none
			border: 1px solid #fff
		&:nth-child(-n+4)
			&:after
				background-image: url(../img/timeline-dot-w.png)
		&.start
			background-image: none
			&:after
				border: none
				background-color: #6543f7
				background-image: none
		&.last
			display: block
			margin-bottom: 70px
			&:after
				top: 10px
			
	.left
		left: 0
		text-align: right
	.right
		left: 50%
		&::after
			left: -23px

	.content
		padding: 20px 30px
	ul
		padding-left: 0
		list-style: none
.last-content
	text-align: center

.s-team
	padding-top: 145px
	.item
	.wrap-image
		text-align: center
		margin-bottom: 20px
		// box-shadow: inset 0 0 25px 2px rgba(255, 255, 255, 0.08)
		background-image: url(../img/team-item-bg.png)
		background-position: center
		background-repeat: no-repeat
		background-size: 100%
		max-width: 284px
		width: 100%
		height: 284px
		display: flex
		justify-content: center
		align-items: center
		margin-left: auto
		margin-right: auto
		position: relative
		img
			
		text-align: center
		margin-bottom: 25px
			padding: 9px
	h3
		text-align: center
	span
		display: block
		text-transform: uppercase
		text-align: center
		margin-bottom: 25px
	p
		max-width: 315px
		width: 100%
		margin: 0 auto
		text-align: justify
		margin-bottom: 70px
.icon
	position: absolute
	bottom: 41px
	right: 41px
.icon-f
	+sprite($s-team-icon-f)

.s-faq
	padding-top: 100px
	padding-bottom: 100px
	h2
		margin-bottom: 45px
	.card
		margin-bottom: 10px
		&-header
			background: transparent
		&-body
			p
				margin-bottom: 0
		h5
			display: flex
			align-items: center
			&:before
				content: ""
				width: 0
				height: 0
				border: 7px solid transparent 
				border-top-color: $primary-color
				border-bottom: 0
			.btn
				white-space: inherit
				text-align: left
.s-publications
	padding-top: 120px
	padding-bottom: 100px
	color: #fff
	background-attachment: fixed
	background-image: url(../img/publication-bg.png)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	h2
		margin-bottom: 50px
	.item
		margin-bottom: 50px

.s-partners
	margin-top: -10px
	margin-bottom: -10px
	padding-top: 100px
	padding-bottom: 100px
	color: #fff
	background-attachment: fixed
	background-image: url(../img/partners.png)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	h2
		margin-bottom: 50px
	.item
		margin-bottom: 50px

.s-footer
	background-image: url(../img/footer-bg.jpg)
	// background-attachment: fixed
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding-bottom: 40px
	ul
		list-style: none
		margin-bottom: 0
		padding-left: 0
		display: flex
		justify-content: space-around
		// align-items: center
		&.social
			margin: 0 auto
			a
				font-size: 2rem
				margin-left: 1rem
				margin-right: 1rem
	a
		color: #b5b5c8
		font-size: 18px
		// padding: 1.5rem
	.wrap
		padding-top: 40px
		padding-bottom: 40px
		margin-bottom: 40px
		border-bottom: 1px solid #434769
	p
		margin-bottom: 50px
		color: #565b87
@media all and (max-width: 600px)
	.timeline
		&:after
			left: 60px
		.t-container
			padding-left: 70px
			padding-right: 10px
			left: 31px
			width: 100%

		.left::after, .right::after
			left: 8px

		.right
			left: 29px
		.last
			&:after
				left: 8px
		.last-content
			text-align: left
#up
	display: none
	position: fixed
	bottom: 30px
	right: 30px
	opacity: .8
	cursor: pointer
	border-radius: 50%
	background-color: $primary-color
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.48)
	color: #ffffff !important
	transition: all .25s ease-in-out
	line-height: 0
	padding: 15px
	&:hover
		opacity: 1
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.48)



@import "partials/_media.sass"