doctype html
html.no-js(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title ICO
		meta(name='description', content='')
		link(rel='stylesheet', href='/assets/css/style-lk.css')
	body.login(style="background-image:url(/assets/img/auth-bg.jpg)")
		.wrapper.flex-direction-column
			.logo.text-center
				a(href="/")
					img.img-fluid(src="assets/img/logo.png")
			.wrapper-form
				-var languages = ["en","ru","de","es","jp"]
				.lang
					each lang in languages
						a(href="#" class=lang)= lang
				h3.text-center Регистрация
				form.form-register
					mixin input-mixin(type, name)
						.form-group.wrap-input
							input.form-control(type= type, placeholder= name)
					+input-mixin("text", "Имя")
					+input-mixin("text", "Фамилия")
					+input-mixin("email", "Электронная почта")
					+input-mixin("password", "Пароль")
					+input-mixin("password", "Повторите пароль")
					.form-group
						.form-check
							label.form-check-label
								input.form-check-input(type="checkbox") 
								| Я прочитал и согласен с Политикой конфиденциальности и Условиями пользования
					.form-group
						.form-check
							label.form-check-label
								input.form-check-input(type="checkbox") 
								| Вы подтверждаете, что не являетесь гражданином или резидентом стра ны, где ограничение использования криптовалюты илитокена ограничено
					.text-center
						.btn.btn-primary.btn-lg Создать учетную запись
					p Уже есть аккаунт? 
						a(href="#") Авторизоваться
				.form-footer
					p Возникли вопросы? Свяжитесь с нами AMC
					.d-flex
						.col-6.p-0
							p &copy; 2018 AMC
						.col-6.p-0
							p Все права защищены