*
	box-sizing: border-box

a
	text-decoration: none
	color: $link-color
	line-height: inherit
	transition: .350s
	cursor: pointer
	&:hover
		color: $link-color-hover

//img
	vertical-align: top
img
	max-width: 100%
	height: auto

// abbr[title]
// 	cursor: pointer

// // Input
// *::-webkit-input-placeholder
// 	color: $black
// *:-moz-placeholder
// 	color: $black
// *::-moz-placeholder
// 	color: $black
// *:-ms-input-placeholder
// 	color: $black

// input[type="number"]::-webkit-inner-spin-button 
// 	appearance: none

input
	outline: none
	&:focus
		outline: none

// Clearfix
.clearfix
	@include clearfix

.hidden
	display: none

// Position
.relative
	position: relative
.absolute
	position: absolute

.float-center 
	display: block
	margin-right: auto
	margin-left: auto

// table
// 	width: 100%
// 	margin-bottom: 1rem
// 	thead
// 		background-color: $thead-background
// 	td
// 		padding: 10px
// 	tbody
// 		tr:nth-child(even)
// 			background-color: $tr-even-background

// // div
// .table-scroll
// 	overflow-x: auto




// ==========================================================================
// Typography
// ==========================================================================

h1, h2, h3, h4, h5, h6
	line-height: 1.4
	small
		color: #cacaca

h1, .h1
	font-size: 36px
h2, .h2
	font-size: 30px
h3, .h3 
	font-size: 24px
h4, .h4 
	font-size: 18px
h5, .h5 
	font-size: 14px
h6, .h6 
	font-size: 12px


// .lead
// 	font-size: 125%
// .stat
// 	font-size: 2.5rem

// h1,.h1,h2,.h2,h3,.h3 
// 	margin-top: 20px
// 	margin-bottom: 10px
// h4,.h4,h5,.h5,h6,.h6
// 	margin-top: 10px
// 	margin-bottom: 10px

// Text align
.text
	&-center
		text-align: center
	&-left
		text-align: left
	&-right
		text-align: right
	&-justify
		text-align: justify
	&-nowrap
		white-space: nowrap
	&-truncate
		max-width: 100%
		overflow: hidden !important
		text-overflow: ellipsis
		white-space: no-wrap !important
	&-underline
		text-decoration: underline
	// transform
	&-lowercase
		text-transform: lowercase
	&-uppercase
		text-transform: uppercase
	&-capitalize
		text-transform: capitalize
	// colors
	&-muted
		color: $text-muted
	&-primary
		color: $primary-color
	&-secondary
		color: $secondary-color
	// 	&:hover
	// 		color: $secondary-color-hover
	&-success 
		color: #3c763d
	&-info
		color: #31708f
	&-warning
		color: #8a6d3b
	&-danger
  	color: #a94442

	// &-heading
	&-title
		font-size: 20px
		margin-bottom: 20px

a
	&.text
		&-primary:hover
				color: $primary-color-hover
		&-succes:hover
			color: #2b542c
		&-info:hover
			color: #245269
		&-warning:hover
			color: #66512c
		&-danger:hover
			color: #843534


hr
	display: block
	height: 1px
	margin: 1rem 0
	padding: 0
	border: 0
	border-top: 1px solid $hr-background


// Текст поверх изображения
// http://borpost.ru/programmrovanie/html/tekst-poverx-izobrazheniya-html-css/
.image
	position: relative
	display: inline-block
	&-text
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		color: #fff

// Zoom image
.image-zoom
	overflow:hidden
	// width: 380px
	// height:250px
	img
		transition: all 1s ease-out
		&:hover
			transform: scale(1.1)

.image-circle
	border-radius: 50%

// Обрезка текста
.cut-wrap
	width: 50%
	&-text
		overflow: hidden
		width: 100%
		white-space: nowrap
		text-overflow: ellipsis


nav
	ul
		list-style-type: none

ul, ol
	&.no-bullet
		list-style: none
.list-inline
	margin-left: 0
	padding-left: 0
	list-style: none
	li
		display: inline-block
		padding-left: 5px
		padding-right: 5px
.breadcrumbs
	list-style: none
	margin: 0 0 15px 0
	display: flex
	li
		&.active
			color: #cacaca
		&:not(:last-child):after
			position: relative
			margin: 0 10px
			content: "/"
			color: #cacaca
		a
			text-decoration: none
			cursor: pointer

ul, ol, dl
	margin-bottom: 1rem
	margin-left: 1.25rem


.no-padding
	padding: 0
	&-horizontal
		padding-left: 0
		padding-right: 0
	&-vertical
		padding-top: 0
		padding-bottom: 0
	&-left
		padding-left: 0
	&-right
		padding-right: 0
	&-top
		padding-top: 0
	&-bottom
		padding-bottom: 0



.button
	display: inline-block
	vertical-align: middle
	background-color: $button-background
	color: $button-color
	border: $button-border
	border-radius: $button-radius
	padding: $button-padding
	margin: 0 0 15px 0
	font-size: $button-font-size
	text-align: center
	line-height: 1.4
	transition: $button-transition
	outline: none
	cursor: pointer
	user-select: none 
	&.expanded
		display: block
		width: 100%
		margin-left: 0
		margin-right: 0
	// &.disabled
	// 	opacity: .25
	// 	cursor: not-allowed
	&:hover
		background-color: $button-background-hover

	&.hollow
		background-color: transparent
		border: $button-hollow-border
		color: $button-hollow-color
		&:hover
			background-color: $button-hollow-color
			color: $button-hollow-color-hover
	// &.default
	// &.primary
	// &.secondary
	// &.success
	// &.info
	// &.warning
	// &.alert
	// &.danger


.input-field
	display: block
	width: 100%
	padding: .5rem
	margin: 0 0 1rem
	border: 1px solid #cacaca
	font-size: 1rem
	background-color: $white
	color: $input-color
	box-shadow: $input-shadow
	transition: box-shadow .5s,border-color .25s ease-in-out
	&:focus
		border: $input-focus-border
		box-shadow: $input-focus-shadow
	&.disabled
		background-color: #e6e6e6

textarea
	// min-height: 50px

// .input-group
// 	display: flex
// 	align-items: stretch
// 	width: 100%
// 	&-label
// 	&-field
// 	&-button

// input[type="search"],
// input[type="text"],
// input[type="number"],
// input[type="tel"],
// input[type="email"],
// input[type="password"],
// textarea
// 	margin-bottom: 10px
// 	padding: $input-padding
// 	color: $input-color
// 	border: $input-border
// 	border-radius: $input-radius


// ==========================================================================
// Helpers
// ==========================================================================
.radius
	border-radius: $radius
.shadow
	box-shadow: $shadow
.bordered
	border: $bordered


