// // Large Devices, Wide Screens
// @media only screen and (max-width : 1200px)
// // Medium Devices, Desktops
// @media only screen and (max-width : 992px)
// // ?
// @media only screen and (max-width : 800px)
@media only screen and (max-width : 860px)
  .menu-btn
    display: inline-block
  .nav
    display: none
// //Small Devices, Tablets
@media only screen and (max-width : 768px)
  nav
    margin-bottom: 40px
  h1
    font-size: 2.75rem
  .main
    .order-md-2
      order: -1
@media only screen and (max-width : 730px)
  .wrap-btns
    display: flex
    flex-direction: column
    text-align: center
    .btn
      margin-top: 20px
  .s-footer
    .footer-menu
      display: block
  .navbar
    &-brand
      flex: 0 1 flex
      width: 100%
      text-align: center
      margin-bottom: 15px
    .container
      flex-wrap: wrap
    .logo
      text-align: center
// // Extra Small Devices, Phones
@media only screen and (max-width : 480px)


  .footer-menu
    a
      font-size: 14px
// // Custom, iPhone Retina
// @media only screen and (max-width : 320px)