@mixin placeholder-color($color)
	&::-webkit-input-placeholder
		color: $input-placeholder-color
	&:-moz-placeholder,
	&::-moz-placeholder
		color: $input-placeholder-color
		opacity: 1
	&:-ms-input-placeholder
		color: $input-placeholder-color

@mixin selection
	::-moz-selection
		@content
	::selection
		@content


@mixin pseudo($display: block, $pos: absolute, $content: '')
	content: $content
	display: $display
	position: $pos


@mixin arr($width, $height, $bg, $direction)
	width: 0px
	height: 0px
	border-style: solid
	@if $direction == top
		border-width: 0 $width / 2 + px $height + px $width / 2 + px
		border-color: transparent transparent $bg transparent
	@if $direction == right
		border-width: $height / 2 + px 0 $height / 2 + px $width + px
		border-color: transparent transparent transparent $bg
	@if $direction == bottom
		border-width: $height + px $width / 2 + px 0 $width / 2 + px
		border-color: $bg transparent transparent transparent
	@if $direction == left
		border-width: $height / 2 + px $width + px $height / 2 + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == top-left
		border-width: $height + px $width + px 0 0
		border-color: $bg transparent transparent transparent
	@if $direction == top-right
		border-width: 0 $width + px $height + px 0
		border-color: transparent $bg transparent transparent
	@if $direction == bottom-right
		border-width: 0 0 $height + px $width + px
		border-color: transparent transparent $bg transparent
	@if $direction == bottom-left
		border-width: $height + px 0 0 $width + px
		border-color: transparent transparent transparent $bg


// @mixin input-placeholder
// 	&.placeholder 
// 		@content
// 	&:-moz-placeholder 
// 		@content
// 	&::-moz-placeholder 
// 		@content
// 	&:-ms-input-placeholder 
// 		@content
// 	&::-webkit-input-placeholder 
// 		@content

// @mixin push--auto
// 	margin:
// 		left: auto
// 		right: auto

// @mixin unselectable
// 	-webkit-touch-callout: none
// 	user-select: none