// // Large Devices, Wide Screens
// @media only screen and (max-width : 1200px)
// // Medium Devices, Desktops
// @media only screen and (max-width : 992px)
// // ?
// @media only screen and (max-width : 800px)
@media only screen and (max-width : 860px)
	.menu-btn
		display: inline-block
	.nav
		display: none
// //Small Devices, Tablets
@media only screen and (max-width : 768px)
	nav
		margin-bottom: 40px
	h1
		font-size: 2.75rem
	.main
		.order-md-2
			order: -1
		ul
			padding-left: 5px
	section
		padding-top: 1.5rem !important
		padding-bottom: 1.5rem !important
	// .s-advantages
	// 	h4
	// 		text-align: left
	.s-perspective
		background-attachment: inherit
		.item
			flex-basis: 100%
			max-width: 100%
			padding-top: 0
			padding-left: 2rem
			&:before
				display: none
			strong
				display: none
			span
				font-size: 16px
				// span
				// 	font-size: 15px
			.price
				font-size: 16px
				position: static
				&:before
					content: "Капитализация компании: "
			&:last-child
				display: none
@media only screen and (max-width : 730px)
	.wrap-btns
		display: flex
		flex-direction: column
		text-align: center
		.btn
			margin-top: 20px
	.s-footer
		.footer-menu
			display: block
	.navbar
		&-brand
			flex: 0 1 flex
			width: 100%
			text-align: center
			margin-bottom: 15px
		.container
			flex-wrap: wrap
		.logo
			text-align: center
	.main .wrap .border-left
		border-left: none !important
// // Extra Small Devices, Phones
@media only screen and (max-width : 568px)
	.main
		.soc-icons
			a
				margin-left: 0rem
				margin-right: 0rem
	.s-footer
		ul.social
			margin: 0 auto
			a
				font-size: 2rem
				margin-left: 0.125rem
				margin-right: 0.125rem

@media only screen and (max-width : 480px)
	.footer-menu
		a
			font-size: 14px
// // Custom, iPhone Retina
// @media only screen and (max-width : 320px)