// Hint
// .s-eye
	+sprite($s-eye)

// Third Party

// @import "../../bower_components/normalize.css/normalize.css"

// Typography
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,latin)
@font-face
	font-family: "Ubuntu"
	src : url("../fonts/Ubuntu/ubuntu.ttf")


// Custom
// @import "../libs/normalize.css/normalize"
// @import "libs/magnific-popup"
// @import "libs/slick-theme"
@import "libs/pushy"
// @import "partials/_reset"
// @import "partials/_variables"
// @import "partials/_clearfix"
// @import "partials/_base"
// @import "partials/_mixins"
@import "partials/_sprite-lk"
@import "../libs/bootstrap-4/css/bootstrap"

$muted-color: #aeaeae
$primary-color: #524af8
$secondary-color: #565b87
$dark: #353854
$line-color: #b5b5c8
$line: 1px solid transparentize($line-color, .82)


// Adminka
html, body
	min-height: 100vh
.registration
	.wrapper
		min-height: 100vh
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.form-register
		max-width: 391px
		width: 100%
		background-color: #fff
		padding: 40px	
	label
		font-size: 14px
		color: $muted-color

.icon
	display: inline-block
	margin-right: 10px

img
	max-width: 100%
	height: auto
body
	font-family: Ubuntu, sans-serif
	font-size: 16px
	background: #fff

.wrapper
	// overflow: hidden
	height: 100%
	display: flex
	flex: 1

// .wrapper-form


.logo
	margin-bottom: 2rem
	a
		display: block

.container
	max-width: 1094px

h1
	font-size: 55px
	margin-bottom: 45px
	text-align: center
h2
	font-size: 36px
	text-transform: uppercase
	text-align: center

h3
	font-size: 24px

h4
	font-size: 22px

h5
	font-size: 18px

aside
	// position: fixed
	// left: 0
	// top: 0
	// bottom: 0
	flex: 0 0 350px
	// max-width: 25%
	width: 350px
	padding-top: 85px
	padding-bottom: 30px
	padding-left: 2.5%
	background-image: url(../img/lk-menu-bg.jpg)
	background-size: cover
	background-position: left top
	background-repeat: no-repeat
	color: #fff
	min-height: 100vh
	.logo
		margin-bottom: 7rem
	nav
		display: block
		padding-left: 0
		list-style: none
		// max-width: 240px
		// width: 100%
		// margin-left: auto
		// margin-right: auto
		.menu, .pushy ul
			overflow: auto
			a
				display: flex
				align-items: center
				padding: 8px 5px
				&:before
					// width: 33px
					content: ""
					display: inline-block
					margin-right: 30px
				&:nth-child(1)
					&:before
						+sprite($s-home)
				&:nth-child(2)
					&:before
						+sprite($s-instruction)
				&:nth-child(3)
					&:before
						+sprite($s-settings)
						// width: 36px
				&:nth-child(4)
					&:before
						+sprite($s-history)
						// width: 36px
				&:nth-child(5)
					&:before
						+sprite($s-faq)
				&:nth-child(6)
					&:before
						+sprite($s-whitepaper)
				&:nth-child(7)
					&:before
						+sprite($s-exit)
			a
				color: #fff

				&:hover
					color: #ffffff
					text-decoration: underline

main
	display: flex
	flex-direction: column
	flex: 0 1 100%
	max-width: 1094px
	width: 100%
	margin-left: auto
	margin-right: auto
	min-height: 100vh
	padding: 85px 15px 15px
	.content
		height: 100%
		// flex: 0 0 100%
		// background: #000
.header
	// padding-left: 130px
	border-bottom: $line
	width: 100%
	padding-bottom: 10px
	margin-bottom: 10px
	padding-left: 10px
	padding-right: 10px
	.wallet
		.icon-wallet
			+sprite($s-wallet)
		strong
			font-size: 22px
			color: $primary-color
			span
				color: $secondary-color
				display: inline-block
				margin-left: 10px
	.person
		color: $secondary-color
		display: inline-flex
		align-items: center
		&:after
			content: ""
			margin-left: 10px
			display: inline-block
			+sprite($s-person)

.lang
	margin-right: 1.5rem
	a
		display: inline-flex
		align-items: center
		color: $secondary-color
		margin-right: 1rem
		&:before
			content: ""
			display: inline-block
			margin-right: 0.5rem
		&.en
			&:before
				+sprite($s-en)
		&.ru
			&:before
				+sprite($s-ru)
		&.de
			&:before
				+sprite($s-de)
		&.es
			&:before
				+sprite($s-es)
		&.jp
			&:before
				+sprite($s-jp)
.langbtn
	display: none
	padding: 5px
	cursor: pointer

.lang
	position: relative
	// display: inline-block


// HEADER
header
	h5
		text-align: center
		line-height: 36px
	ul
		list-style: none
	a
		color: #fff
// nav
// 	margin-bottom: 140px
// .nav-link
// 	padding: 0
// .nav
// 	margin-left: auto
.menu-btn
	display: none
	position: relative
	padding: 10px
	// background: transparent
	// top: 50%
	// transform: translate(-50%, -50%)
	&:focus 
	margin: 7px 0
	// left: 50%
		outline-width: 0
	span
		// background: $primary-color
		background: #fff
		display: block
		transform: rotate(0deg)
		transition: .2s ease all
		border-radius: 2px
		height: 2px
		width: 25px
		margin-bottom: 4px
	.bar-bot 
		margin-bottom: 0

.opened 
	.bar-top 
		transform: rotate(45deg)
		transform-origin: 15% 15%
	.bar-mid 
		opacity: 0
	.bar-bot 
		transform: rotate(-45deg)
		transform-origin: 15% 95%

.pushy
	background-image: url(../img/lk-menu-bg.jpg)
	ul
		list-style: none
	a
		padding: 10px 15px
		color: #fff

// Adminka
.login
	.wrapper
		min-height: 100vh
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		&-form
			background-color: #fff
			padding: 40px	
			max-width: 391px
			width: 100%
		h3
			color: $primary-color
			margin-top: 20px
			margin-bottom: 20px
	.form
		&-footer
			background-image: linear-gradient(16deg, #4b8afd 0%, #873cf8 99%, #873cf8 100%)
			margin-left: -40px
			margin-right: -40px
			margin-bottom: -40px
			padding: 30px 40px
			color: #fff
			font-size: 14px
		.col-6
	label
		font-size: 14px
		color: $muted-color

footer
	ul
		display: flex
		justify-content: space-around
		list-style: none
		a
			display: block
			color: $secondary-color
			font-size: 18px
			padding: 10px
	.footer
		&-contact
			a
				color: $secondary-color
				font-weight: bold


// // Large Devices, Wide Screens
@media only screen and (max-width : 1200px)
	aside
		padding-left: 1rem

@media only screen and (max-width : 1024px)
	aside
		width: 300px
		flex-basis: 300px
	.lang
		a
			margin-right: 0.5rem
			&:before
				margin-right: .25rem
// // Medium Devices, Desktops
@media only screen and (max-width : 992px)
	h4
		font-size: 20px
	aside
		padding-left: 0
		width: 240px
		flex-basis: 240px
		padding-top: 2rem
		nav
			.menu
				a
					&:before
						margin-right: 1rem
		.logo
			margin-bottom: 1rem
	main
		padding-top: 2rem
	.header
		.wallet
			strong
				font-size: 18px

	.langbtn
		display: inline-block
		padding: 5px
		cursor: pointer

	.lang
		position: relative
		display: inline-block
		&-list
			display: none
			position: absolute
			background-color: #f9f9f9
			width: 140px
			box-shadow: 0 0 5px #aaa
			a
				color: black
				padding: 2px 0 2px 5px
				text-decoration: none
				display: block
				&:hover 
					background-color: #fff
		&:hover
			.lang-list
				display: block

// // ?
@media only screen and (max-width : 768px)
	.menu-btn
		display: inline-block
		margin: -10px 0 -5px -1rem
		border-radius: 0
		padding: 17px 10px
	.pushy
		padding-top: 2rem

	aside
		display: none
	main
		padding-top: .5rem
	.header
		padding-left: 0
		padding-bottom: 5px