// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$s-facebook-name: 's-facebook'
$s-facebook-x: 0px
$s-facebook-y: 31px
$s-facebook-offset-x: 0px
$s-facebook-offset-y: -31px
$s-facebook-width: 12px
$s-facebook-height: 26px
$s-facebook-total-width: 47px
$s-facebook-total-height: 264px
$s-facebook-image: '../sprite/sprite.png'
$s-facebook: (0px, 31px, 0px, -31px, 12px, 26px, 47px, 264px, '../sprite/sprite.png', 's-facebook', )
$s-instagram-name: 's-instagram'
$s-instagram-x: 0px
$s-instagram-y: 67px
$s-instagram-offset-x: 0px
$s-instagram-offset-y: -67px
$s-instagram-width: 26px
$s-instagram-height: 26px
$s-instagram-total-width: 47px
$s-instagram-total-height: 264px
$s-instagram-image: '../sprite/sprite.png'
$s-instagram: (0px, 67px, 0px, -67px, 26px, 26px, 47px, 264px, '../sprite/sprite.png', 's-instagram', )
$s-team-icon-f-name: 's-team-icon-f'
$s-team-icon-f-x: 0px
$s-team-icon-f-y: 103px
$s-team-icon-f-offset-x: 0px
$s-team-icon-f-offset-y: -103px
$s-team-icon-f-width: 47px
$s-team-icon-f-height: 47px
$s-team-icon-f-total-width: 47px
$s-team-icon-f-total-height: 264px
$s-team-icon-f-image: '../sprite/sprite.png'
$s-team-icon-f: (0px, 103px, 0px, -103px, 47px, 47px, 47px, 264px, '../sprite/sprite.png', 's-team-icon-f', )
$s-team-icon-i-name: 's-team-icon-i'
$s-team-icon-i-x: 0px
$s-team-icon-i-y: 160px
$s-team-icon-i-offset-x: 0px
$s-team-icon-i-offset-y: -160px
$s-team-icon-i-width: 47px
$s-team-icon-i-height: 47px
$s-team-icon-i-total-width: 47px
$s-team-icon-i-total-height: 264px
$s-team-icon-i-image: '../sprite/sprite.png'
$s-team-icon-i: (0px, 160px, 0px, -160px, 47px, 47px, 47px, 264px, '../sprite/sprite.png', 's-team-icon-i', )
$s-team-icon-t-name: 's-team-icon-t'
$s-team-icon-t-x: 0px
$s-team-icon-t-y: 217px
$s-team-icon-t-offset-x: 0px
$s-team-icon-t-offset-y: -217px
$s-team-icon-t-width: 47px
$s-team-icon-t-height: 47px
$s-team-icon-t-total-width: 47px
$s-team-icon-t-total-height: 264px
$s-team-icon-t-image: '../sprite/sprite.png'
$s-team-icon-t: (0px, 217px, 0px, -217px, 47px, 47px, 47px, 264px, '../sprite/sprite.png', 's-team-icon-t', )
$s-twitter-name: 's-twitter'
$s-twitter-x: 0px
$s-twitter-y: 0px
$s-twitter-offset-x: 0px
$s-twitter-offset-y: 0px
$s-twitter-width: 27px
$s-twitter-height: 21px
$s-twitter-total-width: 47px
$s-twitter-total-height: 264px
$s-twitter-image: '../sprite/sprite.png'
$s-twitter: (0px, 0px, 0px, 0px, 27px, 21px, 47px, 264px, '../sprite/sprite.png', 's-twitter', )
$spritesheet-width: 47px
$spritesheet-height: 264px
$spritesheet-image: '../sprite/sprite.png'
$spritesheet-sprites: ($s-facebook, $s-instagram, $s-team-icon-f, $s-team-icon-i, $s-team-icon-t, $s-twitter, )
$spritesheet: (47px, 264px, '../sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
